{% import "button.twig" as macros %}
{% from "button.twig" import btn %}
{% extends "__layout.twig" %}

{% block content %}
<h1>{{title}}</h1>
{{description}}
<ul class="nav nav-pills red mb-4">
  <li class="nav-item">
    {{ macros.btn('Картинка', '/heroes/' ~ id ~ '?show=image', image ? 'active', 'danger') }}
  </li>
  <li class="nav-item">
    {{ macros.btn('Описание', '/heroes/' ~ id ~ '?show=info', info ? 'active', 'danger') }}
  </li>

</ul>

<div class="container container-bg"> 
    <div class="mb-4">
        {% block objectContent %}

        {% endblock %}
    </div>
</div>
{% endblock %}